# Frontend (gymfreak)
gymfreak/node_modules/
gymfreak/.env
gymfreak/dist/
gymfreak/.DS_Store

# Backend (gymfreak-backend)
gymfreak-backend/vendor/
gymfreak-backend/.env
gymfreak-backend/storage/logs/*
gymfreak-backend/bootstrap/cache/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Common
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
